@dpwBtnColor: #0073ae;
@dpwBgColor: #f9f9f9;
@dpwBorderColor: #e8e8e8;
@white: #ffffff;
@dpwNavBtnColor: #585858;
@dpwNavBtnFocusColor: #ff8800;

@codeString: #585858 !important;
@codeOperator: #1f1f1f !important;
@codeKeywords: #ff8800 !important;
@codeFunction: #0073ae !important;
