include header
#viewsaurus(data-title=title || 'Viewsaurus Tutorial')
    .saurus-panes
        .saurus-panes-header
            a.saurus-back-to-tutorials(href="https://ringcentral.github.io/tutorials/")
                | Tutorials
            span='>'
            span=title
        include prose_view
        include code_view
        include explorer_view
include footer
