include header.html
#viewsaurus(data-title=title || 'Viewsaurus Tutorial')
    .saurus-panes
        .saurus-panes-header= title
        include prose_view
        include code_view
        include explorer_view
include footer.html
